/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #EBEBEB;
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }
h11		  { text-transform: uppercase;
			font-family: graduate;
			font-size: 14px;
			}

table {
  font-size: inherit;
  font: 100%;
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}


.arrowh2 {  
     width: 0; height: 0;  
     line-height: 0;  
     border-left: 28px solid transparent;  
     border-top: 15px solid #71C431;  
     top: 100%;  
     left: -2px;  
     position: absolute;  
}  

.arrowh3 {  
     width: 0; height: 0;  
     line-height: 0;  
     border-left: 18px solid transparent;  
     border-top: 15px solid #123359;  
     top: 100%;  
     left: -1px;  
     position: absolute;  
}  

.arrowh4 {  
     width: 0; height: 0;  
     line-height: 0;  
     border-left: 13px solid transparent;  
     border-top: 15px solid #E1A409;  
     top: 100%;
     left: -1px;  
     position: absolute;  
}  

h2{
  color: #fff;
  width: 70%;
  border-radius: 5px;
  box-shadow: inset 0 10px 10px rgba(0,0,0,.3),
    0 1px 0 rgba(255,255,255,.1),
    0 -1px 0 rgba(0,0,0,.5);
    margin: 30px 0;
  margin-left: -60px;
  padding: 10px 10px 10px;
  padding-left: 30px;
  border-radius: 0 5px 5px 0;
  position: relative;
  box-shadow: 0 1px 5px rgba(0, 0, 0, .3), inset 0 1px 0 rgba(255,255,255,.2), inset 0 -1px 0 rgba(0,0,0,.3);
background: rgb(180,227,145); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(180,227,145,1) 0%, rgba(97,196,25,1) 50%, rgba(180,227,145,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(180,227,145,1)), color-stop(50%,rgba(97,196,25,1)), color-stop(100%,rgba(180,227,145,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(180,227,145,1) 0%,rgba(97,196,25,1) 50%,rgba(180,227,145,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(180,227,145,1) 0%,rgba(97,196,25,1) 50%,rgba(180,227,145,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(180,227,145,1) 0%,rgba(97,196,25,1) 50%,rgba(180,227,145,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(180,227,145,1) 0%,rgba(97,196,25,1) 50%,rgba(180,227,145,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391', endColorstr='#b4e391',GradientType=0 ); /* IE6-9 */

	animation-name: stretchRight;
	-webkit-animation-name: stretchRight;	

	animation-duration: 1.5s;	
	-webkit-animation-duration: 1.5s;

	animation-timing-function: ease-out;	
	-webkit-animation-timing-function: ease-out;	

	transform-origin: 0% 0%;
	-ms-transform-origin: 0% 0%;
	-webkit-transform-origin: 0% 0%; 
}

h3{
  background: #666;
  width: 69%;
  color: #fff;
  border-radius: 5px;
  box-shadow: inset 0 10px 10px rgba(0,0,0,.3),
    0 1px 0 rgba(255,255,255,.1),
    0 -1px 0 rgba(0,0,0,.5);
    margin: 30px 0;
  margin-left: -50px;
  padding: 10px 10px 10px;
  padding-left: 30px;
  border-radius: 0 5px 5px 0;
  position: relative;
  box-shadow: 0 1px 5px rgba(0, 0, 0, .3), inset 0 1px 0 rgba(255,255,255,.2), inset 0 -1px 0 rgba(0,0,0,.3);
background: rgb(30,87,153); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(30,87,153,1) 0%, rgba(41,137,216,1) 50%, rgba(32,124,202,1) 51%, rgba(125,185,232,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(50%,rgba(41,137,216,1)), color-stop(51%,rgba(32,124,202,1)), color-stop(100%,rgba(125,185,232,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */

	animation-name: stretchRight;
	-webkit-animation-name: stretchRight;	

	animation-duration: 2s;	
	-webkit-animation-duration: 2s;

	animation-timing-function: ease-out;	
	-webkit-animation-timing-function: ease-out;	

	transform-origin: 0% 0%;
	-ms-transform-origin: 0% 0%;
	-webkit-transform-origin: 0% 0%; 
}

h4{
  background: #666;
  width: 68%;  
  color: #fff;
  border-radius: 5px;
  box-shadow: inset 0 10px 10px rgba(0,0,0,.3),
    0 1px 0 rgba(255,255,255,.1),
    0 -1px 0 rgba(0,0,0,.5);
    margin: 30px 0;
  margin-left: -45px;
  padding: 10px 10px 10px;
  padding-left: 30px;
  border-radius: 0 5px 5px 0;
  position: relative;
  box-shadow: 0 1px 5px rgba(0, 0, 0, .3), inset 0 1px 0 rgba(255,255,255,.2), inset 0 -1px 0 rgba(0,0,0,.3);
background: rgb(252,234,187); /* Old browsers */
background: -moz-linear-gradient(top, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(251,223,147,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,234,187,1)), color-stop(50%,rgba(252,205,77,1)), color-stop(51%,rgba(248,181,0,1)), color-stop(100%,rgba(251,223,147,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(252,234,187,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(252,234,187,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(252,234,187,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(252,234,187,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=0 ); /* IE6-9 */

	animation-name: stretchRight;
	-webkit-animation-name: stretchRight;	

	animation-duration: 2.5s;	
	-webkit-animation-duration: 2.5s;

	animation-timing-function: ease-out;	
	-webkit-animation-timing-function: ease-out;	

	transform-origin: 0% 0%;
	-ms-transform-origin: 0% 0%;
	-webkit-transform-origin: 0% 0%; 

}

p.wrapper{
margin-left: 5%;
margin-right: 5%;
}

/* EXPERIMENTAL */
	
div.header{
  background-color: #d3d3d3;
  margin-bottom: -1em;
  }
	
	.label {
	width:100%;
	height:50px;
	color:white;
	font-family: Trebuchet MS, sans-serif;
	font-size: medium;
	text-align: center;
	-webkit-text-align:center;
	text-decoration: none;
	margin-top:50%;
	border-radius: 0px 0px 5px 5px;
	background-color:rgba(0,0,0,0.45);
}

.label p {
	padding-top:18px;
}
	
#grid {
	width:100%;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	padding-top: 1%;
	padding-bottom: 4.5%;
	padding-left:6%;
}

#grid a:hover {
	box-shadow: 5px 6px 28px dimgray;
	-webkit-box-shadow: 5px 6px 28px dimgray;
	-ms-box-shadow: 5px 6px 28px dimgray;
	-o-box-shadow: 5px 6px 28px dimgray;
	-moz-box-shadow: 5px 6px 28px dimgray;
}

.tilebooks {
	position:relative;
	float:left;
	margin:10px;
	margin-bottom:25px;
	width:280px;
	height: 200px;
	border-radius: 5px;
	background-image:url(../assets/books.jpg);
	background-repeat: no-repeat;
}


.tilebluebook {
	position:relative;
	float:left;
	margin:10px;
	margin-bottom:25px;
	width:280px;
	height: 200px;
	border-radius: 5px;
	background-image:url(../assets/bluebook.jpg);
	background-repeat: no-repeat;
}

.tilefeather {
	position:relative;
	float:left;
	margin:10px;
	margin-bottom:25px;
	width:280px;
	height: 200px;
	border-radius: 5px;
	background-image:url(../assets/feather.jpg);
	background-repeat: no-repeat;
}

.tilefocus {
	position:relative;
	float:left;
	margin:10px;
	margin-bottom:25px;
	width:280px;
	height: 200px;
	border-radius: 5px;
	background-image:url(../assets/focus.jpg);
	background-repeat: no-repeat;
}

.tilehamlet {
	position:relative;
	float:left;
	margin:10px;
	margin-bottom:25px;
	width:20px;
	height: 200px;
	border-radius: 5px;
	background-image:url(../assets/hamlet.jpg);
	background-repeat: no-repeat;
}

.tilepoetry {
	position:relative;
	float:left;
	margin:10px;
	margin-bottom:25px;
	width:280px;
	height: 200px;
	border-radius: 5px;
	background-image:url(../assets/poetry.jpg);
	background-repeat: no-repeat;
}

.tiletypecase {
	position:relative;
	float:left;
	margin:10px;
	margin-bottom:25px;
	width:280px;
	height: 200px;
	border-radius: 5px;
	background-image:url(../assets/typecase.jpg);
	background-repeat: no-repeat;
}

div.shadow{
  box-shadow: inset 0 3px 10px rgba(0,0,0,.4);
}

div.wrapper{
  background-color:rgba(255,255,255,01);
  border-radius:20px;
  width: 55%;
  margin-left: auto;
  margin-right: auto;
}

table.wrapper{
 width: 98%;
 margin-left: 3%
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  line-height: 1.75em;
}

ul.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 115%;
  text-align: justify;
  width: 100%;
  line-height: 1.5em;
}

.sites{
 background-color: #F8F8FF;
 border-radius: 5px;
 height: 35em;
 }

.site .header a {
  font-weight: bold;
  text-decoration: none;
}

.site .header h1.title {
  display: inline-block;
  margin-bottom: 3em;
  margin-top: 2em;
}

.site .header h1.title a {
  color: #CC3300;
  margin-left: 1em;
  font-family: abel, sans-serif;
  font-size: 35px;
}

/**
.site .header h1.title a:hover {
  background-color: #F5F5F5;
  padding: .5em; .5em; 100%; 100%;
  border-radius: .5em;
}
**/

.site .header a.extra {
  color: #FF6600;
  margin-left: 1em;
  font-family: abel, sans-serif;
  font-size: 30px;
}

.site .header a.extra:hover {
  color: #CC3300;
  font-family: abel, sans-serif;
  font-size: 35px;
}

.site .meta {
  color: #aaa;
}

.site .footer {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-size: 80%;
  background-color:#d3d3d3;
  overflow: hidden;
  margin-top: -1em;
}

.site .footer .contact {
  text-align: center;
  margin-right: 3em;
}

.site .footer .contact a {
  color: #8085C1;
}

.site .footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.site .footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}
