---
layout: home
---
<div class="top">

<div class="sidebar">
<ul>
<li class="title"><p>{{ site.name }}: {{ site.subtitle }}</p></li>
<li class="current"><a href="{{ site.baseurl }}/index.html">{{ site.page1 }}</a></li>
<li class="animated flipInX" style="{{ site.delay2 }}"><a href="{{ site.baseurl }}/activities/">{{ site.page2 }}</a></li>
<li class="animated flipInX" style="{{ site.delay4 }}"><a href="{{ site.baseurl }}/resources/">{{ site.page3 }}</a></li>
<li class="animated flipInX" style="{{ site.delay6 }}"><a href="{{ site.baseurl }}/contact/contact.html">{{ site.page4 }}</a></li>
</ul>

</div>

</div>

<div class="bottom">

<div class="content">
<section id="grid" class="animated fadeIn" style="{{ site.delay8 }}">
    {% for post in site.posts %}
    	   {% if post.categories contains 'content' %}
			<a class="tile {{ post.picture }}" href="{{ site.baseurl }}/{{ post.url }}"><div class="label"><p>{{ post.title }}</p></div></a>
			{% endif %}
    {% endfor %}
</section>
</div>

</div>