---
layout: syllabus
---
<!-- selector switches -->
<div id="wrapper">

<div id="SyllabusDoc">
<table border="0">

<!-- syllabus content shown here -->

<!--
<div id="alert">
DISCLAIMER
</div>
-->

<div id="Frontmatter">

</div>

<div id="learningme">
<h1>Learning outcomes</h1>
</div>

<div id="attendanceme">
<h1>Attendance Policy</h1>
</div>

<div id="readingme">
<h1>Readings</h1>
</div>

</table>
</div>
</div>

<!-- BEGIN NEW CONTENT -->

<div class="bib">
<h1>Bibliography</h1>
<span id="bib" hidden><ul>Made with contributions from:
<li>Janine Utell</li>
<li>Constance Crompton</li>
<li>Eric Rettberg</li>
<li>Steve Jones</li>
<li>Lisa Gitelman</li>
<li>Jacqueline Wernimont</li></ul></span>
</div>


<div id="bottom-box">

<!-- intro -->
<div class="panels" id="intro">
<div class="panel_left">
<h1>Syllabus Templating Tool</h1>
<p>This tool facilitates the templating of an initial syllabus draft with digital learning components. The templating process is divided into three stages (prepare, remix, and revise). Please continue the critical work of composing a course after your work with this tool is complete.</p>
</div>

<div class="panel_right">
	<div class="next complete" id="begin"><span class="next_text">begin</span></div>
</div>
</div>
<!-- Phase one -->
<div class="menus" id="prep_a"><span class="menus_text">prepare</span></div>
<div class="panels" id="prep_b" hidden>

<div class="panel_left">
	<h1>Fill out your course information (all fields optional)</h1>
	<div id="FrontMatters">
		Course Title:</span><input id="course" type="text">
		Instructor:</span><input id="instructor" type="text">
		E-mail:</span><input id="email" type="text">
		<br><br>
		Office:</span><input id="office" type="text">
		Office Hours:</span><input id="office_hours" type="text">
		Classroom:</span><input id="classroom" type="text">
		</div>
</div>

<div class="panel_right">
	<div class="next reset open"><span class="next_text">restart</span></div>
	<div class="next complete" id="prep_next"><span class="next_text">continue</span></div>
</div>

</div>

<!-- Phase two -->
<div class="menus closed" id="add_a"><span class="menus_text">remix</span></div>
<div class="menus closed" id="edit_a"><span class="menus_text">revise</span></div>
<div class="panels" id="add_b" hidden>

<div class="panel_left">
	
	<div id="switchboxExpectations" style="float: left;">
		<h1>Learning Outcomes</h1>	
		{% for org_hash in site.data.syllabus %}
		{% assign org = org_hash[1] %}
		{% if org.expectationsDesc != null %}
		<span>{{ org.expectationsDesc }}</span>
		<div class="onoffswitch">
			<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="switch{{ org.course }}expectations" unchecked>
			<label class="onoffswitch-label" for="switch{{ org.course }}expectations">
			<div class="onoffswitch-inner"></div>
			<div class="onoffswitch-switch"></div>
			</label>
			</div>
			<br>
			{% endif %}
			{% endfor %}
	</div>
	
	
		<div id="switchboxAttendance" style="float: left; margin-right: 25px;">
				<h1>Attendance</h1>	
				{% for org_hash in site.data.syllabus %}
				{% assign org = org_hash[1] %}
				{% if org.attendanceDesc != null %}				
				<span>{{ org.attendanceDesc }}</span>
				<div class="onoffswitch">
					<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="switch{{ org.course }}attendance" unchecked>
					<label class="onoffswitch-label" for="switch{{ org.course }}attendance">
					<div class="onoffswitch-inner"></div>
					<div class="onoffswitch-switch"></div>
					</label>
					</div>
					<br>
					{% endif %}					
					{% endfor %}
		</div>

		<div id="switchboxReading" style="float: left;">
				<h1>Course readings</h1>
				{% for org_hash in site.data.syllabus %}
				{% assign org = org_hash[1] %}
				{% if org.module != null %}					
				<span>{{ org.module }}</span>
				<div class="onoffswitch">
				<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="switch{{ org.course }}reading" unchecked>
				<label class="onoffswitch-label" for="switch{{ org.course }}reading">
				<div class="onoffswitch-inner"></div>
				<div class="onoffswitch-switch"></div>
				</label>
				</div>
				<br>
				{% endif %}					
				{% endfor %}
		</div>
</div>

<div class="panel_right">
				<div class="next reset open"><span class="next_text">restart</span></div>
				<div class="next complete" id="add_next"><span class="next_text">continue</span></div>
</div>

		</div>

<!-- Phase three -->

<div class="panels" id="edit_b" hidden>

<div class="panel_farleft">
	<div class="next red" id="edit"><span class="next_text">edit syllabus</span></div>
	<div class="next blue" id="edit_done"><span class="next_text">complete editing</span></div>
</div>

<div class="panel_middle">
	<ul style="float: left; padding-left: 15px;">Syllabuses express cultural choices, values, and philosophies of learning. Please consult these sources as you revise.
		<li>Jacqueline Wernimont, "<a href="https://jwernimont.wordpress.com/2015/02/17/build-a-better-dh-syllabus/" target="_blank">Build a Better DH Syllabus</a>."</li>
		<li>Roopika Risam, "<a href="http://roopikarisam.com/2014/08/27/in-defense-of-learning-outcomes/">In Defense of Learning Outcomes</a>."</li>
		<li>Trent Kays, "<a href="http://www.hastac.org/blogs/trentmkays/2014/02/18/04-email-instruction-first-year-writing-courses
" target="_blank">Email Instruction in First Year Writing Courses</a>."</li>
	</ul>
</div>

<div class="panel_right">
	<div class="next reset open"><span class="next_text">restart</span></div>
	<div class="next complete" id="print"><span class="next_text">download syllabus template</span></div>
</div>
</div>