<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="{{ site.baseurl}}/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{ site.baseurl}}/css/style.css">
        <link rel="stylesheet" href="{{ site.baseurl}}/css/animations.css">
        		<!-- Web Fonts -->
		<link href='http://fonts.googleapis.com/css?family=Graduate' rel='stylesheet' 			type='text/css'><type='text/css'> 
		<link href='http://fonts.googleapis.com/css?family=Josefin+Slab' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>		
		<link href='http://fonts.googleapis.com/css?family=Port+Lligat+Slab' rel='stylesheet' type='text/css'>   
		<script src="http://use.edgefonts.net/merriweather.js"></script>
		 <script src="//use.edgefonts.net/abel.js"></script>  

		<!-- Favicon -->		 
		 <link rel="shortcut icon" href="{{ site.baseurl }}/assets/favicon.ico">

    </head>
    <body>


        <div class="container">
          <div class="site">
            <div class="header">
	            <h0>{{ site.name }}</h0><h01>{{ site.subtitle }}</h01><br>
            <ha>{{ site.description }}</ha><br>
            <div class="pad">
            <h11>
            <a class="extra" href="{{ site.baseurl }}/">{{ site.page1 }}</a>
              <h1 class="title"><a href="{{ site.baseurl }}/documentation/documentation.html">{{ site.page2 }}</a></h1>
              <a class="extra" href="{{ site.baseurl }}/resources/">{{ site.page3 }}</a>
              <a class="extra" href="{{ site.baseurl }}/tools/">{{ site.page4 }}</a>
              </h11>
            </div>
            </div>
            
		<div class="wrapper">
<p>
<table border="0" class="wrapper">
<tr>
<td>

                {{ content }}
</td>
</tr>
</table>
   </p>
</div>             



    </body>
    
    <div class="foot">
<div style="float: left; width: 30%; padding-right: 3%;">
<img src="{{ site.baseurl }}/assets/images/UVic-logo.gif" style="float: left; margin-right: 10px;">
<a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/88x31.png" /></a></div>
This site has emerged out of a project of the Department of English at the University of Victoria to test the use of on-line teaching tools in the first-year classroom.  The site itself was designed by Alex Christie, whose work was funded by a grant from the University of Victoria's Learning and Teaching Centre.
</div>
    
</html>
