<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="{{ site.baseurl}}/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{ site.baseurl}}/css/main3.css">

		<!-- Web Fonts -->
		<link href='http://fonts.googleapis.com/css?family=Graduate' rel='stylesheet' 			type='text/css'><type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Port+Lligat+Slab' rel='stylesheet' type='text/css'>   
		 <script src="//use.edgefonts.net/abel.js"></script>  
		 <script src="//use.edgefonts.net/pt-sans-narrow.js"></script>
		<script src="//use.edgefonts.net/cabin-sketch.js"></script>
 

		 
		 <link rel="shortcut icon" href="{{ site.baseurl }}/assets/favicon.ico">

    </head>
    <body>

        <div class="container">
          <div class="site">
            <div class="header">
	            <h0>CiTES</h0><br>
            <ha>A toolbox for digital pedagogy in composition, rhetoric, and literature</ha><br>
                        <div class="pad">
              <h11><h1 class="title"><a href="{{ site.baseurl }}/">welcome</a></h1>
              <a class="extra" href="{{ site.baseurl }}/resources.html">online teaching resources</a>
              <a class="extra" href="{{ site.baseurl }}/tools.html">tools</a></h11>
            </div>
            </div>



                {{ content }}


            <div class="footer">
              <div class="contact">
                <p>
                  Powered by <a href="https://github.com/axchristie/test/tree/gh-pages">GitHub</a>              &nbsp; &nbsp; &nbsp; &nbsp; University of Victoria 2013<p>
                </p>
              </div>
              <div>
              </div>
            </div>
          </div>
        </div> <!-- /container -->

    </body>
</html>
