<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="{{ site.baseurl}}/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{ site.baseurl}}/css/main3.css">

		<!-- Google Web Fonts -->
		<link href='http://fonts.googleapis.com/css?family=Graduate' rel='stylesheet' 			type='text/css'><type='text/css'>        

    </head>
    <body>

        <div class="container">
          <div class="site">
            <div class="header">
              <h11><h1 class="title"><a href="{{ site.baseurl }}/">welcome</a></h1>
              <a class="extra" href="{{ site.baseurl }}/resources.html">online teaching resources</a>
              <a class="extra" href="{{ site.baseurl }}/">tools for digital pedagogy</a></h11>
            </div>
<table>
<tr>
<td>


                {{ content }}
</tr>
</td>
</table>

            <div class="footer">
              <div class="contact">
                <p>
                Site maintained by Alex Christie
                </p>
              </div>
              <div class="contact">
                <p>
                  <a href="http://github.com/axchristie/">github.com/axchristie</a><br />
                  <a href="http://twitter.com/axchristie/">twitter.com/axchristie</a><br />
                </p>
              </div>
              <div>
              <p>University of Victoria 2013<p>
              </div>
            </div>
          </div>
        </div> <!-- /container -->

    </body>
</html>
