<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{{ site.name }}</title>
  <meta name="author" content="Alex Christie">


  <!-- Google Web Fonts. -->
  <link href="http://fonts.googleapis.com/css?family=Lato' rel='stylesheet" type='text/css'>
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:700italic,400" rel='stylesheet' type='text/css'>
  <link href="http://fonts.googleapis.com/css?family=Corben:bold" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Nobile" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Quintessential" rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Josefin+Slab' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ site.baseurl }}/css/reset.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/animate.css">  

  <link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/favicon.ico">
  

</head>

<body style="background-color: #35D59D;">

<div class="top">

<div class="sidebar">
<ul>
<li class="title"><p>{{ site.name }}: {{ site.subtitle }}</p></li>
<li class="current"><a href="{{ site.baseurl }}/index.html">{{ site.page1 }}</a></li>
<li><a href="{{ site.baseurl }}/activities/">{{ site.page2 }}</a></li>
<li><a href="{{ site.baseurl }}/resources/">{{ site.page3 }}</a></li>
<li><a href="{{ site.baseurl }}/contact/contact.html">{{ site.page4 }}</a></li>
</ul>
</div>

</div>

<div class="bottom">

<div class="content post">

	{{ content }}

<br>
<br>
<br>
<br>
<h0><a href="../index.html">BACK</a></h0>

</div>

</body>

</html>